node_modules/
dist/
dist-electron/
*.log/
.DS_Store
.env
.env.local
# builds/artefactos
out/
dist/
release/
*.zip
*.dmg
*.exe
*.msi
*.AppImage
*.pkg
*.asar
*.app
.next/
# otros
node_modules/
.DS_Store
.vercel
